# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Power BI
*.pbi/
*.pbix.bak

# Data files
*.zip
data/raw/

# Temporary files
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/